html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;padding: 0;border: 0;outline: 0;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: inherit;vertical-align: baseline;}

.ztree li span.button.add {margin-left:2px; margin-right: -1px; background-position:-144px 0; vertical-align:top; *vertical-align:middle}

ul,li{
    list-style: none;
}
.pointer{
    cursor: pointer;
}

.xcj-tree ul{
    margin: 5px 20px;
}
.xcj-tree ul li{
    margin: 5px 5px;
    cursor: pointer;
}

.xcj-tree .icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../images/1_open.png")no-repeat;
}
.xcj-tree .control{
    display: none;
    margin-left: 15px;
}
.xcj-tree .control span{
    display: inline-block;
    margin: auto 2px;
}