<div class="row addUser">
    <form role="form">
        <div class="form-group col-sm-5 col-sm-offset-1">
            <label for="add_username">用户名</label>
            <input type="text" id="add_username" class="form-control" ng-model="vm.add_username"/>
        </div>
        <div class="form-group col-sm-5">
            <label for="add_password">密码: </label>
                <input type="password" id="add_password" class="form-control" ng-model="vm.add_password"/>
        </div>
        <div class="form-group col-sm-10 col-sm-offset-1">
            <label for="add_email">Email: </label>
                <input type="email" class="form-control" id="add_email" placeholder="Email" ng-model="vm.add_email">
        </div>
    </form>

</div>