
<div class="row">
    <div class="col-sm-8" style="margin-top: 30px">
        <ul class="nav nav-tabs my-tab">
            <li class=" my-tab-day" role="presentation" ng-repeat="day in vm.dayDate track by $index"  ng-class="{'active':$index==vm.dayTagIndex}"><a ng-click="vm.changeTag($index)">{{ day }}</a></li>
            <li class=" my-tab-day" role="presentation" ng-click="vm.changeTag('today')" ng-class="{'active':vm.dayTagIndex=='today'}"><a>今天</a></li>
        </ul>
    </div>
    <div class="col-sm-4">
        <div class="col-sm-1">
            <div class="input-group date form_date" id="data_day" data-link-format="yyyy-ww-dd" data-data-format="yyyy-ww-dd">
                <input class="form-control" size="16" type="text" value="" readonly="" style="display: none" ng-model="vm.daydate">
                <span class="input-group-addon" style="background: #fff;border: none"><span class="glyphicon glyphicon-calendar" style="font-size: 30px;margin-top: 10px" choice-day></span></span>
            </div>
        </div>
        <div class="col-sm-2 col-sm-offset-1">
            <div style="margin-top: 15px;margin-left: 95px">
                <button class="btn btn-default btn-info" ui-sref="home.distribution">分配任务</button>
            </div>

        </div>
    </div>

    <div class="col-sm-12" style="padding: 10px;border:1px solid gainsboro ;overflow: hidden">

        <div class="row">
            <div ng-repeat="item in vm.dayDaily" class="col-sm-4" department-task-page data="item"></div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-sm-offset-5">
                <nav>
                    <ul class="pagination pagination-sm" style="margin: -7px 0">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</div>



