<div home-header title="分配任务">
</div>
<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <div>
                <form>
                    <div class="row"><div class="form-group col-lg-6 col-lg-offset-1">
                        <label>任务名称</label>
                        <input class="form-control">
                    </div></div>
                    <div class="row"><div class="form-group col-lg-6 col-lg-offset-1">
                        <label>任务描述</label>
                        <input class="form-control">
                    </div></div>
                    <div class="row">
                        <div class="form-group col-lg-6 col-lg-offset-1">
                            <label>任务人员</label>
                            <div class="input-group">
                                <input class="form-control">
                                <span class="input-group-addon"><span class="fa fa-search"></span></span>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-4 col-lg-offset-1">
                            <label for="startTime" class="control-label">选择开始时间</label>
                            <div class="input-group date form_datetime" data-date="2016-06-30T09:00:00Z" data-date-format="yyyy MM dd - HH:ii p" data-link-field="dtp_input1" id="startTime">
                                <input class="form-control" size="16" type="text" value="">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                            </div>
                            <input type="hidden" id="dtp_input2" value="" /><br/>
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="endTime" class=" control-label">选择截至时间</label>
                            <div class="input-group date form_datetime" data-date="2016-06-30T09:00:00Z" data-date-format="yyyy MM dd - HH:ii p" data-link-field="dtp_input1" id="endTime">
                                <input class="form-control" size="16" type="text" value="">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                            </div>
                            <input type="hidden" id="dtp_input1" value="" /><br/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-2 col-lg-offset-1">
                            <label>重要系数</label>
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>

                    </div>
                    <div class="row"><div class="form-group col-lg-6 col-lg-offset-1">
                        <label>备注</label>
                        <textarea class="form-control" rows="3"></textarea>
                    </div></div>
                    <div class="row">
                        <div class="col-lg-3 col-lg-offset-3">
                            <button type="submit" ng-click="" class="btn btn-lg btn-info btn-block">提交</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>