
    <div class="row">
        <div class="col-sm-6" style="margin-top: 30px">
            <ul class="nav nav-tabs" >
                <li role="presentation"><a href="#">7月5号</a></li>
                <li role="presentation"><a href="#">7月6号</a></li>
                <li role="presentation" class="active"><a href="#">7月7号</a></li>
                <li role="presentation"><a href="#">7月8号</a></li>
                <li role="presentation"><a href="#">7月9号</a></li>
                <li role="presentation"><a href="#">今天</a></li>
            </ul>
        </div>
        <div class="col-sm-6">
            <span class="glyphicon glyphicon-calendar" style="font-size: 30px;margin-top: 13px"></span>
            <button class="btn btn-default btn-info" style="position: relative;top:-10px;left:200px">分配任务</button>
        </div>
        <div class="col-sm-12" style="height: 500px;border:1px solid gainsboro">

                <div class="row">
                    <div class="col-sm-6" style="border:1px solid gainsboro; height: 230px"></div>
                    <div class="col-sm-6" style="border:1px solid gainsboro; height: 230px"></div>
                    <div class="col-sm-6" style="border:1px solid gainsboro; height: 230px"></div>
                </div>
            </div>
    </div>



