<div home-header title="用户管理"  include="true"></div>
<div class="row">
    <div class="col-lg-3">
        <div class="row">
            <ul class="xcj-tree">
                <li>
                    <div class="pointer state" ng-dblclick="vm.structure.stateChange(vm.structure.root, $event.target)" change-state="true"><span class="icon"></span><div>{{ vm.structure.root.name }}</div> <span class="control"><span class="fa fa-plus-circle" title="添加部门" ng-click="vm.structure.addNode(vm.structure.departments)"></span><span class="fa fa-wrench" title="修改" ng-click="vm.structure.changeName($event.target)"></span><span class="fa  fa-ban" title="禁用" ng-click="vm.structure.forbidden($event.target)"></span></span></div>
                    <ul ng-show="vm.structure.root.state">
                        <li ng-repeat="item in  vm.structure.departments track by $index">
                            <div class="state" ng-dblclick="vm.structure.stateChange(item, $event.target)" change-state="true"><span class="icon"></span><div>{{ item.name }}</div><span class="control"><span class="fa fa-plus-circle" title="添加团队" ng-click="vm.structure.addNode(item.teams)"></span><span class="fa fa-wrench" title="修改" ng-click="vm.structure.changeName($event.target)"></span><span class="fa  fa-ban" title="禁用"  ng-click="vm.structure.forbidden($event.target)"></span></span></div>
                            <ul ng-show="item.state">
                                <li ng-repeat=" b in item.teams track by $index">
                                    <div class="state" change-state="true"><span class="icon"></span><div>{{ b }}</div><span class="control"><span class="fa fa-wrench" title="修改" ng-click="vm.structure.changeName($event.target)"></span><span class="fa  fa-ban" title="禁用" ng-click="vm.structure.forbidden($event.target)"></span></span></div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="row" >
            <div class="col-lg-12" style="">
                <div xcj-table data="vm.users">
                </div>
            </div>
        </div>
    </div>

    <!--<div class="col-lg-2 col-lg-offset-7">-->
        <!--<ul class="nav">-->
            <!--<li><span style="display: inline-block;position: relative;top: 4px;width: 20px;height: 20px;background-color: #f2dede"></span>停用</li>-->
        <!--</ul>-->
    <!--</div>-->
</div>

