<div class="row"  style="margin-top: 20px">
    <div class="col-sm-9" style="margin-top: 10px">
        <div class="col-sm-6" style="margin-top: 15px">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">当前任务</a></li>
                <li role="presentation"><a href="#">未开始任务</a></li>
                <li role="presentation"><a href="#">已完成任务</a></li>
            </ul>
        </div>
        <div class="col-sm-3 col-sm-offset-2">
            <div class="form-group input-group" style="margin-top: 10px">
                <input type="text" class="form-control">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                                                </button>
                                            </span>
            </div>
        </div>
        <div class="col-sm-12" style="height: 317px;border:1px solid gainsboro">

        </div>
    </div>
    <div class="col-sm-3">
        <ul class="schedule">
            <li>未开始</li>
            <li>10%</li>
            <li>20%</li>
            <li>30%</li>
            <li>40%</li>
            <li>50%</li>
            <li>60%</li>
            <li>70%</li>
            <li>80%</li>
            <li>90%</li>
            <li>100%</li>
        </ul>
    </div>
</div>
<div class="row">
<div class="col-sm-11">
    <ul class="nav nav-tabs data-tag">
    <li role="presentation"><a href="#">7月5号</a></li>
    <li role="presentation"><a href="#">7月6号</a></li>
    <li role="presentation" class="active"><a href="#">7月7号</a></li>
    <li role="presentation"><a href="#">7月8号</a></li>
    <li role="presentation"><a href="#">7月9号</a></li>
    <li role="presentation"><a href="#">今天</a></li>
</ul>
</div>
    <div class="col-sm-1">
          <span class="glyphicon glyphicon-calendar" style="font-size: 30px;margin-top: 5px"></span>
    </div>
    <div class="col-sm-12" style="height:150px;border: 1px solid gainsboro;">
        <div>

        </div>
    </div>

</div>