<div>
    <div class="row">
        <div class="form-group col-lg-12" ng-if="!data.select" ng-repeat="form in data">
            <label>{{ form.label }}</label>
            <input type="{{ form.type }}" id="{{ form.id }}" class="form-control" ng-bind="form.context | context:form.id">
        </div>
        <div class="form-group col-lg-12" ng-if="data.select">
            <label>{{ data.label }}</label>
            <select class="form-control">
                <option ng-repeat="item in data.select track by $index">{{ item }}</option></select>
        </div>
        <div class="col-lg-2 col-lg-offset-5">
            <button class="btn btn-default btn-info" type="submit" ng-click="commit()">提交</button>
        </div>
    </div>
</div>
